.container {
  display: flex;

  .container-img {
	width: 100px;

	img {
	  width: 100%;
	  height: auto;
	  object-fit: cover;
	}
  }

  .text {
	margin-left: 40px;
	width: 70%;

	h3 {
	  font-weight: bold;
	  font-size: 23px;
	  margin-bottom: 0;
	}

	p {
	  font-size: 15px;
	}

	.container-svg {
	  margin-right: 30px;
	  display: flex;
	  justify-content: right;

	  svg {
		opacity: 50%;
		cursor: pointer;
	  }
	}
  }

  .number {
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	justify-items: center;

	.count {
	  gap: 20px;
	  display: flex;
	  align-content: center;
	  align-items: center;
	  justify-items: center;
	  justify-content: center;
	  background-color: rgba(0, 0, 0, 0.5);
	  border-radius: 50px;
	  width: 90px;
	  height: 50px;
	  font-size: 28px;
	  text-align: center;
	  margin: 10px;
	  padding: 10px 20px;
	  color: white;
	  font-weight: bold;

	  .btn {
		cursor: pointer;
		font-size: 32px;
	  }

	}

	.price {
	  text-align: center;
	  font-size: 26px;
	}
  }
}


















